* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background-color: #000030;
    min-height: 100vh;
}

input, textarea, button {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    outline-style: none;
    border-radius: 0px;
    height: 100%;
    width: 100%;
    background: none
}

a, go-to {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

a:hover, go-to:hover {
    text-decoration: underline;
}

/* ------------------------------------ GLOBAL CLASS -------------------------------------- */
.one-page {
    width: 100%;
    height: calc(100vw * 0.6);
    overflow: hidden;
}

/* ------------------------------------ FONTS -------------------------------------- */

.font-coming-soon {
    font-family: 'Coming Soon', cursive;
}

.font-luckiest-guy {
    font-family: 'Luckiest Guy', cursive;
}

/* ----------------------------------------- HEADER ------------------------------------------ */

header {
    position: fixed;
    width: 100%;
    height: 64px;
    mix-blend-mode: difference;
    z-index: 1;
    padding: 0px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header>h1 {
    font-family: 'Bangers', cursive;
}

nav>go-to {
    margin-left: 10px;
    font-family: 'Contrail One', cursive;
}

/* ----------------------------------------- MAIN ------------------------------------------ */
#slide-list,
#slide-list>* {
    height: 100%;
}

#slide-list>* {
    float: left;
    width: 100vw;
}

#slide-list>img {
    object-fit: cover;
}

/* ----------------------------------------- WORK-THUMBNAIL ------------------------------------------ */
work-thumbnail {
    cursor: pointer;
}

.wt-top,
.wt-bottom,
.wt-bottom>img {
    width: 100%;
    height: 100%;
}

.wt-bottom>img {
    object-fit: cover;
}

.wt-top {
    position: relative;
    top: -100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

/* ------------------------------------------ DETAIL ---------------------------------------------- */
detail-page {
    display: block;
    padding: 64px 40px 8px 40px;
    color: white;
    font-family: 'Fira Sans Condensed', sans-serif;
}

detail-page>h2 {
    font-size: 64px;
    font-weight: 500;
}

detail-page>h3 {
    font-size: 32px;
    font-weight: 100;
    font-style: italic;
}

detail-page>img {
    width: 100%;
}

.dp-wrapper {
    padding: 16px 0px;
    display: flex;
}

.dp-description {
    width: 70%;
    padding-right: 16px;
}
.dp-links {
    width: 30%;
}

.dp-wrapper h4 {
    font-size: 32px;
    font-weight: 400;
}

.dp-description>p,
.dp-links>a {
    font-weight: 100;
}

/* ------------------------------------------ FOOTER ---------------------------------------------- */
music-player {
    display: block;
    padding: 10px 40px;
    background-color: #000060;
}

#copyright-box {
    color: white;
    background-color: #000090;
    font-family: 'Sriracha', cursive;
    font-size: 6vw;
    text-align: center;
}

#contact-box {
    padding: 30px 10%;
    background-color: #0000c0;
    font-family: 'Lily Script One', cursive;
    font-size: 4vw;
    color: white;
}

#contact-box>a {
    display: inline-block;
    text-decoration: underline;
}

#github {
    width: calc(30% - 10px);
}

#email {
    width: calc(70% - 10px);
    cursor: pointer;
}
