* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background-color: #000030;
    height: 100vh;
}

input, textarea, button {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    outline-style: none;
    border-radius: 0px;
    height: 100%;
    width: 100%;
    background: none
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* ------------------------------------ GLOBAL CLASS -------------------------------------- */
.one-page {
    height: calc(100vh - 30px);
    overflow: hidden;
}

/* ------------------------------------ FONTS -------------------------------------- */

.font-coming-soon {
    font-family: 'Coming Soon', cursive;
}

.font-luckiest-guy {
    font-family: 'Luckiest Guy', cursive;
}

/* ----------------------------------------- HEADER ------------------------------------------ */

header {
    position: fixed;
    width: 100%;
    height: 64px;
    mix-blend-mode: difference;
    /* color: white; */
    z-index: 2;
    padding: 0px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header>h1 {
    font-family: 'Bangers', cursive;
}

nav>a {
    margin-left: 10px;
    font-family: 'Contrail One', cursive;
}

/* ----------------------------------------- MAIN ------------------------------------------ */
#page-view {
    padding-top: 64px;
    min-height: 100vh;
}

#slide-list>* {
    display: table;
    float: left;
    height: 100vh;
    width: 100vw;
}

#slide-list>img {
    object-fit: cover;
}

/* ----------------------------------------- WORK-THUMBNAIL ------------------------------------------ */
work-thumbnail>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

work-thumbnail>div.wt-hover {
    width: 100%;
    height: 100%;
    position: relative;
    top: calc(-100% - 4px);
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.5);
}

/* ------------------------------------------ FOOTER ---------------------------------------------- */
#copyright-box {
    color: white;
    background-color: #000060;
    font-family: 'Sriracha', cursive;
    font-size: 6vw;
    text-align: center;
}

#contact-box {
    padding: 30px 10%;
    background-color: #000090;
    font-family: 'Lily Script One', cursive;
    font-size: 4vw;
    color: white;
}

#contact-box>a {
    display: inline-block;
    text-decoration: underline;
}

#github {
    width: calc(30% - 10px);
}

#email {
    width: calc(70% - 10px);
    cursor: pointer;
}
